<% layout('/layouts/boilerplate')%>
    <script>
        window.MAP_TOKEN = "<%= process.env.MAPBOX_TOKEN %>";
        window.coordinates = <%= JSON.stringify(reqListings.geometry.coordinates) %>;
    </script>

    <body>

        <div class="row mt-3">
            <div class="col-8 offset-3">
                <h2>
                    <%=reqListings.title%>
                </h2>
            </div>

            <div class="card-listing col-6 offset-3">
                <img src="<%= reqListings.image.url%>" class="card-img-top show-img mt-3" alt="listing_image">
                <div class="card-body">
                    <p class="card-text">Owned By : <b>
                            <%=reqListings.owner.username%>
                        </b></p>
                    <p class="card-text">
                    <div>
                        <%= reqListings.description %>
                    </div>
                    <div><%=reqListings.price.toLocaleString("en-IN")%></div>
                    <div>
                        <%=reqListings.location%>
                    </div>
                    <div>
                        <%=reqListings.country%>
                    </div>
                    </p>
                    <hr>


                    <% if (userlog && userlog._id.equals(reqListings.owner._id) ) { %>
                        <div class="btns">
                            <button
                                onclick="window.location.href='http://localhost:3000/listings/<%=reqListings._id%>/edit'"
                                class="btn btn-dark edit-btn">EDIT</button>
                            <form action="/listings/<%=reqListings._id%>?_method=DELETE" method="post"><button
                                    class="btn btn-dark delete-btn">DELETE</button></form>
                        </div>
                        <%}%>
                </div>
            </div>

            <div class="col-6 offset-3">
                <% if (userlog){%>
                    <h4>Leave a Review</h4>
                    <form method="POST" class="mb-3 mt-3 needs-validation"
                        action="/listings/<%= reqListings._id %>/reviews" novalidate>
                        <!-- <div class=" mt-3">
                                    <label for="rating" class="form-label">Rating</label>
                                    <input type="range" min="1" max="5" id="rating" name="review[rating]" class="form-range">
                                </div> -->
                        <div class=" mt-3">
                            <label for="rating" class="form-label">Rating</label>
                            <fieldset class="starability-slot">
                                <!-- <legend>Rating</legend> -->
                                <input type="radio" id="no-rate" class="input-no-rate" name="review[rating]" value="0"
                                    checked aria-label="No rating." />
                                <input type="radio" id="first-rate1" name="review[rating]" value="1" />
                                <label for="first-rate1" title="Terrible">1 star</label>
                                <input type="radio" id="first-rate2" name="review[rating]" value="2" />
                                <label for="first-rate2" title="Not good">2 stars</label>
                                <input type="radio" id="first-rate3" name="review[rating]" value="3" />
                                <label for="first-rate3" title="Average">3 stars</label>
                                <input type="radio" id="first-rate4" name="review[rating]" value="4" />
                                <label for="first-rate4" title="Very good">4 stars</label>
                                <input type="radio" id="first-rate5" name="review[rating]" value="5" />
                                <label for="first-rate5" title="Amazing">5 stars</label>
                            </fieldset>
                        </div>
                        <div class="mb-3 mt-3">
                            <label for="comment" class="form-label ">Comment</label>
                            <textarea name="review[comment]" id="comment" class="form-control " required></textarea>
                            <div class="invalid-feedback">Comment is a Required field</div>
                        </div>
                        <button class="btn btn-dark">Submit</button>
                    </form>
                    <hr>
                    <%} %>
            </div>

            <div class="col-6 offset-3">
                <div class="row">
                    <h4>All Reviews</h4>
                    <% for (const userreview of reqListings.review) { %>
                        <div class="card col-5 mb-3 ms-4">
                            <div class="card-body ">
                                <div class="card-title"><b>
                                        <%=userreview.author.username%>
                                    </b></div>
                                <p class="card-text">
                                <p class="starability-result card-text" data-rating=<%=userreview.rating%> >

                                </p>
                                <%= userreview.comment%>
                                    </p>

                            </div>
                            <% if (userlog && userreview.author._id.equals(userlog._id)) { %>
                                <form class="mb-3 mt-3" method="POST"
                                    action="/listings/<%=reqListings._id%>/reviews/<%= userreview._id%>?_method=DELETE">
                                    <button class="btn btn-sm btn-dark">DELETE</button>
                                </form>
                                <%}%>
                        </div>
                        <%} %>
                </div>
            </div>
            <div class="col-8 offset-3 mb-3">
                <h3>Where you'll be</h3>
                <div id="map"></div>
            </div>
        </div>



    </body>
    <script src="/js/map.js"></script>